@font-face {
  font-family: "Segoe UI Variable";
  src: url("assets/fonts/SegoeUIVariable.woff2") format("woff2"),
    url("assets/fonts/SegoeUIVariable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI Variable";
}
